<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ichiban.ichitabi.festival.mapper.FestivalMapper">

    <!--  축제 신규 등록  -->
    <insert id="insertFestival" parameterType="festivalDto" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT  INTO    festival(title, season, content)
        VALUES          (#{title}, #{season}, #{content})
    </insert>

    <!--  계절별 축제 목록 조회  -->
    <select id="selectFestivalList" resultType="festivalDto">
        SELECT  f.id,
                f.title,
                f.season,
                f.content,
                i.img_url,
                f.created_at,
                f.updated_at
        FROM    festival f
            LEFT JOIN   image i
                ON  f.id    = i.owner_id
                AND i.type  = 'FESTIVAL'
                AND i.rep_img_yn = 'Y'
        WHERE   f.deleted_at IS NULL

        <if test="season != null and season != 'ALL'">
            AND f.season = #{season}
        </if>
    </select>

    <select id="selectFestivalListPaging" resultType="festivalDto">
        SELECT  f.id,
                f.title,
                f.season,
                f.content,
                i.img_url,
                f.created_at,
                f.updated_at
        FROM    festival f
            LEFT JOIN   image i
                ON  f.id    = i.owner_id
                AND i.type  = 'FESTIVAL'
                AND i.rep_img_yn = 'Y'
        WHERE   f.deleted_at IS NULL

        <if test="season != null and season != 'ALL'">
            AND f.season = #{season}
        </if>
        ORDER BY created_at DESC
        LIMIT   #{pageSize} OFFSET  #{offset}
    </select>

    <select id="countFestival" resultType="int">
        SELECT  COUNT(*)
        FROM    festival
        WHERE   deleted_at IS NULL
        <if test="season != null and season != 'ALL'">
            AND season = #{season}
        </if>
    </select>
    
    <update id="updateFestival" parameterType="festivalDto">
        UPDATE  festival
            SET     title   = #{title},
                    content = #{content},
                    season  = #{season},
                    updated_at = #{updatedAt}
            WHERE   id      = #{id}
    </update>

    <update id="updateFestivalImage" parameterType="festivalDto">
        UPDATE  image
            SET     img_url     = #{imgUrl}
            WHERE   owner_id    = #{id}
            AND     type        = 'FESTIVAL'
    </update>

    <update id="deleteFestival">
        UPDATE  festival
        SET     deleted_at = CURRENT_TIMESTAMP
        WHERE   id = #{festivalId}
    </update>

    <select id="selectFestivalById" parameterType="long" resultType="festivalDto">
        SELECT  f.id,
                f.title,
                f.season,
                f.content,
                i.img_url,
                f.created_at,
                f.updated_at
        FROM    festival f
            LEFT JOIN   image i
                ON  f.id    = i.owner_id
                AND i.type  = 'FESTIVAL'
                AND i.rep_img_yn = 'Y'
        WHERE   f.id = #{id}
            AND f.deleted_at IS NULL
    </select>

    <insert id="likeInsert">
        INSERT INTO festival_likes (user_id, festival_id)
        VALUES (#{userId}, #{festivalId})
    </insert>

    <delete id="likeDelete">
        DELETE FROM festival_likes
        WHERE user_id = #{userId} AND festival_id = #{festivalId}
    </delete>

    <select id="likeCount">
        SELECT COUNT(id)
        FROM festival_likes
        WHERE festival_id = #{festivalId}
    </select>

    <select id="isLiked">
        SELECT COUNT(*)
        FROM festival_likes
        WHERE festival_id = #{festivalId} AND user_id = #{userId}
    </select>
</mapper>