<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ichiban.ichitabi.image.mapper.ImageMapper">

    <!--  이미지 insert  -->
    <insert id="insertImage" parameterType="imageDto" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT  INTO    image(owner_id, type, img_url, rep_img_yn)
        VALUES          (#{ownerId}, #{type}, #{imgUrl}, #{repImgYn})
    </insert>

    <!--  이미지 파일 insert  -->
    <insert id="insertImageFile" parameterType="imageDto" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT  INTO    image(owner_id, type, img_url, rep_img_yn)
        VALUES          (#{ownerId}, #{type}, #{imgUrl}, #{repImgYn})
    </insert>

    <!--  이미지 파일 update  -->
    <update id="updateImageFile" parameterType="imageDto">
        UPDATE  image
            SET img_url  = #{imgUrl}
        WHERE   owner_id = #{ownerId}
            AND type     = #{type}
    </update>

    <select id="selectRepImage" resultType="imageDto">
        SELECT  *
        FROM    image
        WHERE   owner_id    = #{userId}
            AND type        = #{type}
            AND rep_img_yn  = 'Y'
    </select>
</mapper>