<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ichiban.ichitabi.review.mapper.ReviewMapper">

    <!--  여행지 추천 페이지 리뷰 리스트  -->
    <select id="selectReviewList" resultType="reviewListDto">
        SELECT r.id,
                i.type,
                i.img_url,
                i.rep_img_yn,
                u.birthday,
                u.gender,
                r.title,
                r.location,
                GROUP_CONCAT(h.hashtag) AS hashtags
        FROM review r
            JOIN user u ON r.user_id = u.id
            LEFT JOIN (
            SELECT owner_id, type, img_url, rep_img_yn
            FROM image
            WHERE type = 'review' AND rep_img_yn = 'Y'
            ) i ON r.id = i.owner_id
            JOIN hashtag h ON r.id = h.review_id
        GROUP BY r.id, i.type, i.img_url, i.rep_img_yn, u.birthday, u.gender, r.title, r.location
    </select>

    <!--  해시태그별 리뷰 리스트  -->
    <select id="selectReviewListByHashtag" resultType="reviewListDto">
        SELECT r.id,
                i.type,
                i.img_url,
                i.rep_img_yn,
                u.birthday,
                u.gender,
                r.title,
                r.location,
                GROUP_CONCAT(h.hashtag) AS hashtags
        FROM review r
            JOIN user u ON r.user_id = u.id
            LEFT JOIN (
            SELECT owner_id, type, img_url, rep_img_yn
            FROM image
            WHERE type = 'review' AND rep_img_yn = 'Y'
            ) i ON r.id = i.owner_id
            JOIN hashtag h ON r.id = h.review_id
        WHERE r.id IN (
            SELECT review_id
            FROM hashtag
            WHERE hashtag LIKE CONCAT('%', #{hashtag}, '%')
        )
        GROUP BY r.id, i.type, i.img_url, i.rep_img_yn, u.birthday, u.gender, r.title, r.location
    </select>

    <!--  리뷰 상세보기  -->
    <select id="selectReviewDetail" resultType="reviewDetailDto">
        SELECT  r.id,
                r.user_id,
                r.title,
                r.companion,
                r.location,
                r.rating,
                r.content,
                r.date,
                u.nickname,
                u.birthday,
                u.gender,
                COUNT(rl.id) AS like_count,
                GROUP_CONCAT(DISTINCT i.img_url) AS img_urls,
                GROUP_CONCAT(h.hashtag) AS hashtags
        FROM review r JOIN user u ON r.user_id = u.id
                JOIN hashtag h ON r.id = h.review_id
                LEFT JOIN review_likes rl ON r.id = rl.review_id
                LEFT JOIN image i ON i.owner_id = r.id AND i.type = 'REVIEW'
        WHERE r.id = #{id}
        GROUP BY r.id, r.title, r.companion, r.location, r.rating, r.content, r.date, u.nickname, u.birthday, u.gender
    </select>

    <insert id="likeInsert">
        INSERT INTO review_likes (user_id, review_id)
        VALUES (#{userId}, #{reviewId})
    </insert>

    <delete id="likeDelete">
        DELETE FROM review_likes
        WHERE user_id = #{userId} AND review_id = #{reviewId}
    </delete>

    <select id="likeCount">
        SELECT COUNT(id)
        FROM review_likes
        WHERE review_id = #{reviewId}
    </select>

    <select id="isLiked">
        SELECT COUNT(*)
        FROM review_likes
        WHERE review_id = #{reviewId} AND user_id = #{userId}
    </select>

</mapper>